
<head>
  <script type="text/javascript" src="app/assets/javascripts/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="app/assets/javascripts/alphabet.js"></script>
</head>
<body>

   <div class="path-container">
     <div class="row">
       <div class="large-12 columns ">
         <canvas id="myCanvas"></canvas>
         <script type="text/javascript" src="app/assets/javascripts/bubbles.js"></script>
         <script type="text/javascript" src="main.js"></script>
       </div>
     </div>

     <div class="row ">
       <div class="large-6 columns ">
         <h3>PRAVILA ZA RAD U LABORATORIJU:</h3>
          <h6  class="subheader">1. Ne vjeruj u čuda, nego se na njih osloni.<br />
         2. Prvo zamisli rezultate mjerenja, a tek potom mjeri.<br />
         3. Svaki pokus koji izvodiš, moraš zeznuti na isti način.<br />
         4. Ako ne znaš što radiš, uradi to uredno.<br />
         5. Ako nisi siguran što si izmjerio, samo rezultate što uvjerljivije iznesi učitelju.<br />
         6. U laboratoriju je nužno raditi u grupi, tako da uvijek  možeš nekog drugog okriviti da je razbio epruvetu.</h6>
       </div>
       <div class="large-4 columns  right  ">
         <p><%= image_tag("/image/labaratorija.png" ) %></p>
       </div>
     </div>

     <div class="row ">
       <div class="large-4 columns  left  ">
         <p><br /><br /><%= image_tag("/image/ucitelj2.png" ) %></p>
       </div>
       <div class="large-4 columns  right">
         <h3> </br></br>Kako se šale ... po predmetima</h3>
         <h6 class="subheader">
         * Profesori fizike - relativno <br />
         * Profesori hemije - periodično <br />
         * Profesori matematike - proračunato <br />
         * Profesori istorije - dokumentovano <br />
         * Profesori geografije - svetski <br />
         * Profesori biologije - mikroskopski <br />
         * Profesori tehničkog - precizno <br />
         * Profesori informatike - digitalno <br />
         * Profesori muzičkog - na note <br />
         * Profesori srpskog - pismeno <br />
         * Profesori engleskog - nerazumljivo <br />
         * Profesori ruskog - mekano <br />
         * Profesori fizičkog - razigrano <br />
         * Profesori građanskog - druželjubivo <br />
         * Profesori veronauke - duhovno <br /><br />
         * Profesori starešine  - ne šale se !</h6>
       </div>
     </div>
   </div>

   <div class="row ">
     <div class="large-3 columns left  ">
       <p><br /><br /><br /><br /><br /><br /><%= image_tag("/image/ucitelj4.png" ) %></p>
     </div>
     <div class="large-1 columns left  ">
       <p><%= image_tag("/image/blanko.png" ) %></p>
     </div>
     <div class="large-4 columns  ">
       <h3><br /><br /><br /><br />Ako želiš da budeš dobar FIZIČAR moraš biti :</h3>
       <h6 class="subheader">
         * izuzetno Fleksibilan <br />
         * uvek Inovativan<br />
         * prilično Zabavan<br />
         * posebno Inteligentan<br />
         * pomalo Čudan<br />
         * veoma Ambiciozan </br>
         * i vrlo Rečit</h6>
     </div>
     <div class="large-3 columns  right  ">
       <p><%= image_tag("/image/leteci.png" ) %></p>
     </div>
   </div>


</body>