 
<% if user_signed_in? %>

<%= simple_form_for(@kontakt) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <h5><a><%= current_user.email %></a></h5>
        <%  xxx = current_user.email %>
    <%= f.input :ime,label: 'Ime' %>
        <%= f.input :prezime %>
        <%= f.input :email, placeholder: 'user@domain.com' %>
        <%= f.input :a_email, placeholder: current_user.email %>
    
        <%= f.input :poruka, as: :text %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Pošalji poruku" %>
  </div>

<% end %>

<% else %>

      <%= simple_form_for(@kontakt) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">

          <%= f.input :ime, as: :text %>
          <%= f.input :prezime %>
          <%= f.input :email %>
          <%= f.input :poruka, as: :text %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Pošalji poruku ", class:"button success" %>
        </div>
      <% end %>


<% end %>
